body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #393e46
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: 0.1s;
}



button:hover {
    border-color: #f1ff5c;
    color: white;
    transform: translateY(-0.25em);
    cursor: pointer;
}

button:hover span {
    display:none;
} 

button:hover:before {
    content:"Click Me";
} 